/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/search-mdb-movies.iml
.idea/workspace.xml


Gruntfile.js
README.me
app/
bower.json
install.sh
test/
